@gray: #666666;
@lightGray: #F2F2F2;
@white: #ffffff;
@black: #252525;
@grayHover: #e4e4e4;
@blueHover: #8fbcce;
@blue: #0073c0;
@pink: #ef8080;

// reset
button,
a {
    outline: none;
    border: none;
    background: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// page structure with import
html,
body,
.app,
.container {
    * {
        box-sizing: border-box
    }
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: @white;
    color: @black;
    font-weight: 300;
    position: relative;
    min-width: 1000px;
    .page-left {
        height: 100%;
        overflow: auto;
        .main-content {
            padding-bottom: 30px;
        }
    }
    @import './less/LeftMenu.less';
    @import './less/TopBar.less';
    @import './less/MainContent.less';
    @import './less/Dialog.less';
}

// common component
.text-input {
    width: 100%;
    height: 35px;
    padding: 10px;
    font-weight: 200;
    outline: none;
    border: none;
    &.small {
        height: 25px;
        padding: 5px;
        border-radius: 3px;
        margin-right: 5px;
        display: inline-block;
        width: 120px;
        border: 1px solid #e4e4e4;
    }
}

.loading-model {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
    color: @white;
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 200px;
        height: 100px;
        i {
            font-size: 50px;
            width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        }
        font-size: 15px;
        text-align: center;
    }
}


