@gray: #666666;
@lightGray: #F2F2F2;
@white: #ffffff;
@black: #252525;
@grayHover: #e4e4e4;
@blueHover: #8fbcce;
@blue: #0073c0;
@pink: #ef8080;

// reset
button,
a {
    outline: none;
    border: none;
    background: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// page structure with import
html,
body,
.app,
.container {
    * {
        box-sizing: border-box
    }
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: @white;
    color: @black;
    font-weight: 300;
    position: relative;
    .page-left {
        height: 100%;
        overflow: auto;
    }
    @import './less/LeftMenu.less';
    @import './less/TopBar.less';
    @import './less/MainContent.less';
    @import './less/Dialog.less';
}

// common component
.text-input {
    width: 100%;
    height: 35px;
    padding: 10px;
    font-weight: 200;
    outline: none;
    border: none;
    &.small {
        height: 25px;
        padding: 5px;
        border-radius: 3px;
        margin-right: 5px;
        display: inline-block;
        width: 120px;
        border: 1px solid #e4e4e4;
    }
}



